.button {
    background-color: blue;
    border: 2px solid white;
    border-radius: 30px;
    text-decoration: none;
    padding: 10px 28px;
    color: white;
    margin-top: 10px;
    display: inline-block;
}

.button:hover {
    background-color: blue;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}

.bg-modal {
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-header {
    width: 100%;
    height: 10%;
}

.column1,
.column2 {
    float: left;
    width: 50%;
    height: 100%;
}

.questions-container {
    height: 100%;
    width: 100%;
}

.modal-footer {
    width: 100%;
    height: 10%;
}

.question {
    /*border: 1px solid black;*/
    width: 100%;
    height: 50%;
    text-align: left;
    display: grid;
}

.modal-contents {
    height: 80%;
    width: 80%;
    background-color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    border-radius: 4px;
}

.close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 42px;
    color: #333;
    transform: rotate(45deg);
    cursor: pointer;
}

.close:hover {
    color: #666;
}

form {
    height: inherit;
}

.correct {
    display: inline-block;
    transform: rotate(45deg);
    height: 20px;
    width: 10px;
    border-bottom: 7px solid #78b13f;
    border-right: 7px solid #78b13f;
}

.wrong {
    display: inline-block;
    transform: rotate(45deg);
    height: 24px;
    width: 12px;
    color: red;
    font-size: 42px;
    font-weight: bold;
}
